@{
    ViewData["Title"] = "よくある質問";
}

<style type="text/css">
    label {
        font-size: 16pt;
        color: seagreen;
    }
</style>

<h1>@ViewData["Title"]</h1>

<label>
    Q 「郡山の歴史」とはどのようなアプリですか？
</label>

<p>
    郡山の歴史について楽しく学んでもらうことを目的としたアプリケーションです。
</p>

<label>
    Q　パスワードを忘れてしまいログインできません。
</label>

<p>
    ログイン画面の「パスワードをお忘れの場合」から、登録メールアドレスをご入力いただき、パスワードを再設定してください。<br />
    登録メールアドレスにパスワード再設定用ページのリンクを記載したメールをお送りいたしますので、メールの案内にしたがってお手続きください。
</p>

<label>
    Q　ログインしましたが画面が切り替わりません。
</label>

<p>
    ご使用のブラウザではご利用いただけない可能性があります。<br />
    推奨ご利用環境に適合しているかご確認ください。
</p>

<label>
    Q　ユーザーの登録情報を変更できますか？
</label>

<p>
    ログイン後、「マイページ」より変更できます。
</p>