@{
    ViewData["Title"] = "プライバシーポリシー";
}

<style type="text/css">
    label {
        font-size: 16pt;
        color: seagreen;
    }
</style>

<h1>@ViewData["Title"]</h1>

<label>
    個人情報の取り扱いについて
</label>

<p>
    郡山の歴史（仮）は、当プライバシーポリシーを掲示し、
    当プライバシーポリシーに準拠して提供されるサービスをご利用になる方（以下「ユーザー」といいます）のプライバシーを尊重し、
    ユーザーの個人情報（以下の定義に従います）の管理に細心の注意を払い、これを取扱うものとします。
</p>

<label>
    個人情報の定義
</label>

<p>
    個人情報とは、ユーザー個人に関する情報であって、
    当該情報を構成する氏名、電話番号、メールアドレスその他の記述等により当該ユーザーを識別できるものをいいます。
    またその情報のみでは識別できない場合でも、他の情報と容易に照合することができ、
    結果的にユーザー個人を識別できるものも個人情報に含まれます。
</p>

<label>
    個人情報の第三者提供
</label>

<p>
    お客様からお預かりした個人情報を、個人情報保護法その他の法令に基づき開示が認められる場合を除き、
    ご本人様の同意を得ずに第三者に提供することはありません。
</p>

<label>
    個人情報の訂正・削除について
</label>

<p>
    お客様からお預かりした個人情報の訂正・削除をご希望の場合は、ご本人様よりお申し出ください。
    適切な本人確認を行った後、速やかに対応させていただきます。
</p>