@{
    ViewData["Title"] = "使い方";
}

<style type="text/css">
    label {
        font-size: 16pt;
        color: seagreen;
    }
    img {
        max-width: 50%;
        height: auto;
    }
</style>

<h1>@ViewData["Title"]</h1>

<label>
    トップページ・マップ
</label>

<p>
    郡山市内の建造物をマップから探すことができます。<br />
    マップ上のピンをクリックすると詳細を見ることができ、
    現在地からのルートを調べることができます。
</p>

<img src="~/images/2020-11-19.png" class="img" alt="市内マップ"><br /><br />

<label>
    クイズ
</label>

<p>
    郡山の歴史にまつわるクイズが出題されます。<br />
    クイズの成績はマイページから振り返ることができます。
</p>

<label>
    マイページ
</label>

<p>
    ユーザー名やパスワードの確認や変更、ログアウトをすることができます。<br />
    またこれまでのクイズの成績を振り返ることができます。
</p>

