<div class="text-center">
    <h1>クイズ</h1>
    <a asp-action="SetAll" asp-route-all="6" class="btn btn-primary">5問</a>
    <a asp-action="SetAll" asp-route-all="11" type="submit" class="btn btn-primary">10問</a>
</div>