@model QuizModel

@{
    var id = ViewContext.RouteData.Values["id"].ToString();
    var now = $"{id}問目";
    var next = Convert.ToInt32(id) + 1;
}

<h1>@now</h1>
<p>@Model.quiz_question</p>
<form>
    <div class="row">
        <input type="button" asp-for="quiz_choice1" class="col btn btn-primary" />
        <input type="button" asp-for="quiz_choice2" class="col btn btn-primary" />
        <input type="button" asp-for="quiz_choice3" class="col btn btn-primary" />
        <input type="button" asp-for="quiz_choice4" class="col btn btn-primary" />
    </div>
</form>
<br />

<form method="post">
    <input type="submit" asp-controller="Quiz" asp-action="Question" asp-route-id="@next" class="btn btn-primary" value="次の問題" />
</form>
<script src="~/js/quiz.js"></script>