
@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>

<form method="post" class="text-center">
    <input asp-controller="Quiz" asp-action="Index" type="submit" class="btn btn-primary" value="もう一度" />
</form>