@{
    ViewData["Title"] = "ログイン";
}
@model UserModel;


<h2>@ViewData["Title"]</h2>
<form method="post">
    @if (!ViewBag.Conf)
    {
        <label>ユーザー名またはパスワードが異なります </label>
    }
    <div class="form-group">
        <label>ユーザー名</label>
        <input class="form-control" asp-for="user_name" placeholder="ユーザーID">
    </div>
    <div class="form-group">
        <label>パスワード</label>
        <input class="form-control" asp-for="user_password" placeholder="パスワード">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>