
﻿@{
    ViewData["Title"] = "ログイン";
}
@model LoginModel;

<style type="text/css">
    
    h1 {
        @* background: radial-gradient(blue,white);
           border-radius: 50px 50px 50px 50px;
        *@ color: darkgreen;
        text-shadow: 1px 2px 3px #808080;
    }
    label {
        font-size: 16pt;
        color: seagreen;
    }
    form{
        margin:0 auto;
    }
   
</style>



<form method="post"class="col-6">
    <h1>@ViewData["Title"]</h1>
    <center>
        <b>
            @if (!Model.Conf)
            {
<label style="color:red">ユーザー名またはパスワードが異なります </label>}
        </b>
    </center>
    <hr>
        <div class="flom-group">
            <label>ユーザー名</label>
            <input class="form-control" asp-for="UserName" placeholder="ユーザーID">
        </div>
    <br>
        <div class="flom-group">
            <label>パスワード</label>
            <input class="form-control" asp-for="PW" placeholder="パスワード">
        </div>

        <center>
            <br> <button type="submit" class="btn btn-primary">ログイン</button>

            <hr> <a asp-area="" asp-controller="Home" asp-action="Privacy">新規登録はこちらから</a>@*登録画面に飛ぶ*@
        </center>
</form>